{% extends "GlobalBundle:Client/Layout:layout.html.twig" %}

{% block metaTitle %}Inscription{% endblock %}

{% block content %}

<h1>Inscription</h1>

	{{ form_start(form, {'attr': {'class': 'form-horizontal', novalidate: 'novalidate'}}) }}

		{{ form_errors(form) }}
		
		{{ form_label(form.username, "Pseudonyme *") }}
		{{ form_errors(form.username) }}
		{{ form_widget(form.username, {'attr': {'class': 'form-elem big'}}) }}<br>

		{{ form_label(form.email, "Email *") }}
		{{ form_errors(form.email) }}
		{{ form_widget(form.email, {'attr': {'class': 'form-elem big'}}) }}<br>

		{{ form_label(form.file, "Avatar") }}
		{{ form_errors(form.file) }}
		{{ form_widget(form.file, {'attr': {'class': 'form-elem big'}}) }}
		<div class="form-legende">
			<p>L'image doit faire exactement 150px par 150px<br>Le format doit être (jpg, png)<br>Le poid ne doit pas dépacer 1Mo</p>
		</div>
		
		{{ form_rest(form) }}

	{{ form_end(form) }}

    <p>Vous êtes déjà inscrit ? <a href="{{ path('login') }}">Connectez vous</a></p>

{% endblock %}